h1 {
    font-family: $fontFamilyPrimary;
    font-size: $sizeHeadline_1;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-family: $fontFamilyPrimary;
    font-size: $sizeHeadline_2;
    color: black;
}

h3 {
    font-family: $fontFamilyPrimary;
    font-size: $sizeHeadline_3;
    color: black;
}

h4 {
    font-family: $fontFamilyPrimary;
    font-size: $sizeHeadline_4;
    color: black;
}

h5 {
    font-family: $fontFamilyPrimary;
    font-size: $sizeHeadline_5;
    color: black;
}

h6 {
    font-family: $fontFamilyPrimary;
    font-size: $sizeHeadline_6;
    color: black;
}

p {
    font-family: $fontFamilyAccent;
    font-size: $sizeParagraph;
    color: black;
}

.subtitle {
    font-family: $fontFamilySecondary;
    font-size: $sizeSubtitle;
    color: black;
    font-weight: 500;
}