li {
    float: left;
    
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: $fontFamilyAccent;
    }

    a:hover {
        background-color: $colorAccent;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: $colorSecondary;
}